<!-- Teaching Assistant -->
<div class="teaching-assistant">
  <div class="container">
    <h4>Teaching Assistant:</h4>
    <ul class="list">
      <li>
        <a href="https://labs.utdallas.edu/irvl/courses/cs6384_spring22/">
          UTD CS6384 Computer Vision
        </a>
      </li>
      <li>
        <a href="https://catalog.utdallas.edu/2022/undergraduate/courses/cs4332">
        UTD CS4332 Introduction to Programming Video Games
        </a>
      </li>
      <li>
        <a href="https://catalog.utdallas.edu/2021/graduate/courses/cs6314">
          UTD CS6314 Web Programming Languages
        </a>
      </li>
      <li>
        <a href="https://catalog.utdallas.edu/2021/undergraduate/courses/cs4391">
          UTD CS4391 Introduction to Computer Vision
        </a>
      </li>
      <li>
        <a href="https://catalog.utdallas.edu/2020/graduate/courses/cs6366">
          UTD CS6366 Computer Graphics
        </a>
      </li>
    </ul>
  </div>
</div>

<!-- Presentations -->
<div class="seminar-talks">
  <div class="container">
    <h4>Seminar Talks:</h4>
    <ul class="list">
      <li>
        <a href="/assets/pdf/siminar_talks/20251010_ManipTrans.pdf">
          MANIPTRANS: Efficient Dexterous Bimanual Manipulation Transfer via Residual Learning
        </a>
      </li>
      <li>
        <a href="/assets/pdf/siminar_talks/20260130_DexMan.pdf">
          DexMan: Learning Bimanual Dexterous Manipulation from Human and Generated Videos
        </a>
      </li>
    </ul>

  </div>
</div>
