<!-- Teaching Assistant -->
<h5>Teaching Assistant:</h5>
<div style="display: flex; justify-content: space-between;">
  <h6>Teaching Assistant | <a href="https://github.com/UTD-CG/Computer-Graphic--UTD"> UTD CS4361/CS6366 Computer
      Graphics</a></h6>
  <p align="right"> @2025Spring, 2024Fall </p>
</div>

<div style="display: flex; justify-content: space-between;">
  <h6>Teaching Assistant | <a href="https://github.com/CS6323utd/asst0_environment">UTD CS6323 Computer Animation and
      Gaming</a></h6>
  <p align="right"> @2022Fall </p>
</div>
<div style="display: flex; justify-content: space-between;">
  <h6>Teaching Assistant | <a href="https://github.com/CS6366utd/starter_code_mac">UTD CS6366 Computer Graphics</a></h6>
  <p align="right"> @2021Spring </p>
</div>
<div style="display: flex; justify-content: space-between;">
  <h6>Teaching Assistant | UTD CS6334 Virtual Reality</h6>
  <p align="right"> @2020Spring </p>
</div>
<div style="display: flex; justify-content: space-between;">
  <h6>Teaching Assistant | UTD CS4347 Database Systems</h6>
  <p align="right"> @2021Spring, 2022Fall </p>
</div>
<div style="display: flex; justify-content: space-between; margin-bottom:10px;">
  <h6>Teaching Assistant | UTD CS4332 Introduction to Programming Video Games</h6>
  <p align="right"> @2019Fall </p>
</div>

<!-- Guest Lectures -->
<h5>Guest Lectures:</h5>
